Source: lokkit-doorman
Section: misc
Priority: optional
Maintainer: Andreas Schmid, <ikeark@gmail.com>
Build-Depends: debhelper (>= 7.4.3), dh-systemd
Standards-Version: 3.9.1

Package: lokkit-doorman
Architecture: all
Section: misc
Depends: ${misc:Depends}
Description: Provides a systemd service that runs doorman
  This package does not contain doorman. Doorman needs to be
  installed using pip
