#  This file is part of the lokkit-doorman.

[Unit]
Description=Start doorman service

[Service]
Type=simple
User=lokkit
ExecStart=./usr/bin/doorman /etc/lokkit/doorman.yml

[Install]
WantedBy=multi-user.target
